*{
    user-select: none;
}

i,.bx-chevron-left,.bx-chevron-right{
    color: var(--font);
}

h1{
    color:var(--title)
}
i:hover{
    background-color: #fff;
    color:var(--vertF);
}

body{
    background-image: url("../Images/fondForet1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-black{
    position: fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--fond);
}

/* Navigation */
.bx-chevron-left,.bx-chevron-right{
    font-size: 80px;
    top: 45%;
    position: absolute;
    cursor: pointer;
}

.bx-chevron-left:first-child{
    left: 40px;
}

.bx-chevron-left:last-child{
    left: 40px;
}

.bx-chevron-right{
    right: 40px;
}

.bx-chevron-right:first-child{
    right: 40px;
}

.bx-chevron-left:hover{
    left: 20px;
    transition: all 1s ease;
}

.bx-chevron-right:hover{
    right: 20px;
    transition: all 1s ease; 
}

/* Menu */
.menu-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 40px;
    top: 30px;
}

.menu-container i{
    font-size: 40px;
    margin: 0px 10px;
}

/* Titre */
.title-container{
    position: absolute;
    top: 30%;
    width: 50%;
    margin: 0px 25%;
    text-align: center;
}

.title-container h1{
    font-size: 100px;
}

.title-container p{
    color: #fff;
    font-size: 30px;
}

.partie-container{
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 30%;
    overflow: hidden;
    margin: 10px 35%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    background-color: rgba(79,89,80,0.5);
    padding: 10px 0px;
    border-radius: 20px;
}

.partie-container *{
    margin: 0px 10px;
}

/* Container A propos*/

.container h2{
    color: #fff;
    font-size: 50px;
    text-align: left;
    color: var(--vertC);
}

.btn{
    background-color: var(--noir);
    width: 20%;
    height: 60px;
    border:none;
    font-size: 4%w;
    font-weight: bold;
    color: var(--vertC);
    transition: .2s linear;
    position: absolute;
    bottom: 100px;
    left: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-transform:uppercase;
}

.btn:hover{
    background-color: transparent;
    color: var(--noir);
}

.btn::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--vertC);
    z-index: -1;
    transition: 0.2s linear;
    cursor: pointer;
    border-radius: 10px;
  }
  
.btn:hover::after {
    animation: expandAnimation 0.5s;
    animation-fill-mode: forwards;
}

@keyframes expandAnimation {
0% {
    width:10%;
    height: 0px;
}
30% {
    width: 10%;
    height: 60px;
}
100% {
    width: 100%;
    height: 60px;
}
}

  /* Style pour le bouton du menu */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    right: 10px;
    top:40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px 0px 10px 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    transform: translateX(10px);
    transition: all 1s ease;
  }

  .dropdown:hover .dropbtn{
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
    color:black;
  }
  
  .propos, .missions{
    top: 200px;
  }

  .propos p, .missions p{
    font-size: 20px;
  }

  .missions p{
    text-align: left;
  }

  .partie-container p:hover{
    color: #fff;
  }

  .mode i{
    border-radius: 20px;
    padding: 5px;
    margin-top: -5px;
  }
