body{
    background-image: url("../Images/fondForet1.jpg");
}

/* Navigation */
.bx-chevron-left,.bx-chevron-right{
    font-size: 80px;
    color: #fff;
    top: 45%;
    position: absolute;
}

.bx-chevron-left{
    left: 40px;
}

.bx-chevron-right{
    right: 40px;
}

/* Menu */
.menu-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 40px;
}

.menu-container i{
    color: #fff;
    font-size: 40px;
    margin: 0px 10px;
}

/* Titre */
.title-container{
    position: absolute;
    top: 30%;
    width: 50%;
    margin: 0px 25%;
    text-align: center;
}

.title-container h1{
    color: #fff;
    font-size: 100px;
}

.title-container p{
    color: #fff;
    font-size: 30px;
}