<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTM</title>
    <!-- Pour incorporer des icones -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Feuille de style -->
    <link rel="stylesheet" type="text/css" href="../Ressource/CSS/Accueil.css">
    <link rel="stylesheet" type="text/css" href="../Ressource/CSS/Default.css">
    
</head>zdaz
<body>
    <!-- Navigation flèche-->
    <i class='bx bx-chevron-left'></i>
    <i class='bx bx-chevron-right'></i>

    <!-- Option -->
    <div class="menu-container">
        <p><i class='bx bx-images' ></i></p>
        <p><i class='bx bx-user-circle' ></i></i></p>
    </div>

    <div class="title-container">
        <h1>Nom du Site</h1>
        <p>Petite phrase de présentation</p>
    </div>

</body>
</html>