<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoBrain</title>
    <link rel="icon" type="image/png" href="../Ressource/Images/icone.png">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../Ressource/CSS/Dashboard_style.css">
    <link rel="stylesheet" href="../Ressource/CSS/Default.css">
</head>

<body>
<div class="mur">
    <div class="container">
        <!-- Sidebar Section -->
        <aside>

            <div class="sidebar">
                <ul class="tab">
                <a href="#" class="tablinks" onclick="clickBtn(0)">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#" class="tablinks" onclick="clickBtn(1)">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Utilisateur</h3>
                </a>
                <a href="#" class="tablinks active" onclick="clickBtn(2)">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>LeaderBoard</h3>
                </a>
                <a href="#" class="tablinks" onclick="clickBtn(3),charlieInvarders()">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>?</h3>
                </a></ul>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <div id="charlie" style="position: absolute; display: none; text-align: center; margin-left: 10%;">
            <h1 style="padding-top: 50px ;font-size: 50px;">Je crois que t'as raté quelque chose, non?</h1>
            <img src="../Ressource/Images/charlie.png">
        </div>

        <main>
            <div class="section-container">
            <h1>Analytics</h1>
                <!-- Analyses -->
                <div class="analyse">
                    <div class="sales">
                        <div class="status">
                            <div class="info">
                                <h3>Bonnes réponses</h3>
                            </div>
                            <div class="progresss">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="percentage">
                                    <p>?? / ??</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visits">
                        <div class="status">
                            <div class="info">
                                <h3>Partie n° </h3>
                            </div>
                            <div class="progresss">
                                <div class="percentage">
                                    <p>??</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Analyses -->

                <!-- Recent Orders Table -->
                <div class="recent-orders">
                    <h2>Recent Orders</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Essai</th>
                                <th>Bonnes réponses</th>
                                <th>Classement perso</th>
                                <th>Niveau</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <a href="#">Show All</a>
                </div>
                <!-- End of Recent Orders -->
            </div>
            <div class="section-container">
                
            </div>
            <div class="section-container">
                <div class="recent-orders">
                    <h2>Recent Orders</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Utilisateur</th>
                                <th>Bonnes réponses</th>
                                <th>Rang</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <a href="#">Show All</a>
                </div>
            </div>
            <div class="section-container">

            </div>
        </main> 
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="mode2">
                    <span class="material-icons-sharp">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
            </div>
            <!-- End of Nav -->
            
            </div>

    </div>

    
    </div>
    <a href="Question.html">
        <button class="btn" href="Question.html">Jouer</button>
    </a>
    <script>
        window.onload = function() {
            init();
        }
    
        function init() {
            clickBtn(0);
        }
    </script>
    </div>
    <script src="../Ressource/JS/dashboard_index.js"></script>
    <script src="../Ressource/JS/DarkLighMode.js"></script>
</body>

</html>

