<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zooming Scenes</title>
    <link rel="stylesheet" href="../Ressource/CSS/Question.css">
    <link rel="stylesheet" href="../Ressource/CSS/Default.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../Ressource/JS/questionnaire.js"></script>
</head>
<body>

    <!-- chaque scene a des bouton qui lorsque cliquer, change la question et donc le décord -->
<div class="question" id="question1">
    <p>Question 1</p>
    <button onclick="nextQuestion(); checkAnswer(1)" value="reponse_1">réponse 1</button>
    <button onclick="nextQuestion(); checkAnswer(2)" value="reponse_2">réponse 2</button>
</div>

<div class="question" id="question2" style="display: none;">
    <p>Question 2</p>
    <button onclick="nextQuestion(); checkAnswer(3)" value="reponse_1">réponse 1</button>
    <button onclick="nextQuestion(); checkAnswer(4)" value="reponse_2">réponse 2</button>
</div>

<div class="question" id="question3" style="display: none;">
    <p>Question 3</p>
    <button onclick="nextQuestion(); checkAnswer(5)" value="reponse_1">réponse 1</button>
    <button onclick="nextQuestion(); checkAnswer(6 )" value="reponse_2">réponse 2</button>
</div>

<div class="container">
    <h4>Score :</h4>
    <div class="progress-container" >
        <div id="progress-bar">0%</div>
    </div>
</div>




</body>
</html>